<md-toolbar ng-controller="HeaderController as header">
    <div class="md-toolbar-tools">
        <span>Schedule Boat</span>
        <span flex></span>
        <!--<md-menu md-position-mode="target-right target" >
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item ng-cloak ng-if="header.loggedIn">
                    <md-button ng-click="header.revoke()">
                        <div layout="row">
                            <p flex>Revoke access from Facebook</p>
                            <md-icon md-menu-align-target md-font-set="material-icons">eject</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-cloak ng-if="header.loggedIn">
                    <md-button ng-click="header.logout()">
                        <div layout="row">
                            <p flex>Logout</p>
                            <md-icon md-menu-align-target md-font-set="material-icons">exit_to_app</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-cloak ng-if="!header.loggedIn">
                    <md-button  ng-click="header.login()">
                        <div layout="row">
                            <p flex>Login</p>
                            <md-icon md-menu-align-target md-font-set="material-icons">exit_to_app</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>-->
    </div>
</md-toolbar>